* {
    box-sizing: border-box;
}

#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.row {
    flex: 1;
    display: flex;
}


.cell {
    flex: 1;
    border: 1px solid black;
}

button {
    align-self: center;
    font-size: 18px;
    margin-bottom: 8px;
}